@model InitialInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Data</h1>
    <div>Members @Model.MembersCount</div>
    <div>Members @Model.DishesCount</div>
</div>
