@model InitialInfo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="MembersCount">Number of participants</label>
            <select asp-for="MembersCount" asp-items="ViewBag.Digits1"></select>
        </div>
        <div class="form-group">
            <label asp-for="DishesCount">Number of dishes</label>
            <select asp-for="DishesCount" asp-items="ViewBag.Digits2"></select>
        </div>
        <button type="submit" class="btn btn-primary">Create calculation</button>
    </form>
</div>
